# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

SERVER_PORT=3000

DATABASE_URL="mongodb+srv://everest:<password>@everest.xyz.mongodb.net/mydb?retryWrites=true&w=majority"

SANDBOX_COINMARKETCAP_BASE_URL='https://sandbox-api.coinmarketcap.com'
SANDBOX_COINMARKETCAP_API_KEY='b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c' # publically available key

JWT_SECRET_KEY='<jwt_key>'

REDIS_HOST='127.0.0.1'